
.emoji {
    position: relative;
    align-items: center;
    margin: 5px;
    height: 200px;
    width: 200px;
}

.earth {
    position: absolute;
    margin: none;
    left: 10px;
    top: 10px;
    opacity: 0.7;
    background-color: blue;

    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 15px 10px 10px coral;

}

.text{
    color: black;
    position: absolute;
    left: 50px;
    top: 10px;
    font-size: 200px;
    text-align: center;
    rotate: 5deg;
}